@import b3.vertical.fieldConstructor
@(catalogData: models.CatalogData, globalData:models.GlobalData)(implicit messages: play.api.i18n.Messages)

@main("Catálogo", globalData) {
	<div class="container">
	<div class="row">
	<div class="col-md-8">
	<h2>Catálogo</h2>
	
	<!--  nav tabs  -->
	<ul class="nav nav-tabs">
	<li class="active">
	<a href="#categories"  data-toggle="tab">Categorias</a>
	</li>
		<li >
	<a href="#authors" data-toggle="tab">Autores</a>
	</li>
	<li >
	<a href="#search"  data-toggle="tab">Pesquisa</a>
	</li>
	</ul>
	<div class="tab-content">
	<div class="tab-pane active fade in" id="categories">
	<div class="list-group">
	@for(c <- catalogData.categories.sortBy(_.element.name)) {
		<a href="@routes.Application.category(c.element.slug)" class="list-group-item">
		@c.element.name
		<span class="badge">@c.publicationCount</span>
		</a>
		}
	</div> <!--  list-group -->
	</div> <!--  panel -->
	<div class="tab-pane fade" id="authors">
	<div class="panel-group" id="accordion" >
	@for((c, authorsC) <- catalogData.authors.groupBy(c => views.StringUtils.catalogCharacter(c.name)).toSeq.sortBy(_._1)) {
		<div class="panel panel-default">
		<div class="panel-heading" id="author_heading_@c">
		<h4 class="panel-title">@c
		        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#author_list_@c" >@c</a>
		</h4>
		</div>
		    <div id="author_list_@c" class="panel-collapse collapse" aria-labelledby="author_heading_@c">
      <div class="panel-body">
      <div class="list-group">
      @for(author <- authorsC.sortBy(_.name)) {
      	<a class="list-group-item" href="@routes.Application.author(author.slug)">@author.name</a>
      	}
      </div>
      </div>
    </div>
		
		</div>
		}
	</div><!--   panel-group-->
	</div> <!--  tab-panel  -->
	<div id="search" role="tabpanel" class="tab-pane fade">
	
	@b3.form(routes.Application.search(1, ""))	 {
		@b3.search(globalData.searchForm("q"), '_label -> "Introduza os termos da sua pesquisa")
		@b3.submit('_class -> "btn btn-primary") {Pesquisar}
		}
	</div>
	</div> <!--  tab-content -->
	</div> <!--  collumn -->
	</div> <!--  row -->
	</div> <!-- container -->
	
	}