@import pt.org.apec.services.books.common._
@(globalData: models.GlobalData, indexData: models.IndexData)(implicit messages: play.api.i18n.Messages)

@main("Biblioteca APEC | Início", globalData) {

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-8">
        <p>Para já, poderá consultar apenas o nosso catálogo no botão seguinte:
        
        <a role="button" class="btn btn-primary" href="@routes.Application.catalog">Catáolog</a></p>
       </div>
      </div>

}
