@import godiva.core.pagination._
@import pt.org.apec.services.books.common._
@( publications: PaginatedResult[PublicationInfo], query: String, globalData: models.GlobalData)(implicit messages: play.api.i18n.Messages)\	

@routesGenerator(page: Long) =@{routes.Application.search(page,query)}

@main("Biblioteca APEC | Pesquisa", globalData) {
	    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-8">
        <h2>Pesquisa por @query</h2>
        
  @if(publications.totals.get.totalElements > 0) {
<p>@(publications.totals.get.totalElements) resultados encontrados para @query.</p>
@listing(publications, routesGenerator)

} else {
<p>Nenhum resultado encontrado</p>
}

</div>
      </div>
	}